In [ ]:
!pip install AutoViz
!pip install xlrd

In [20]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import datetime as dt

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns


from autoviz.AutoViz_Class import AutoViz_Class
AV = AutoViz_Class()

In [58]:
# Load data
# file = '../../data/BankChurners.csv'
# df = pd.read_csv(file)
# df = df.iloc[:,1:-2]
# df.head()

# 전처리 완료
# file = "../../data/base_dataset_standardized.pkl"
file = "../../data/base_dataset_before_std.pkl"
df = pd.read_pickle(file)

df.head()

,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Gender_Male,Marital_Status_Uneducated,Marital_Status_Single,Marital_Status_Divorced,Attrition_Flag
0,45,3,2,3,1,39,5,1,3,12691.0,777,1.335,1144,42,1.625,0.061,True,True,False,False,0
1,49,5,3,1,1,44,6,1,2,8256.0,864,1.541,1291,33,3.714,0.105,False,False,True,False,0
2,51,3,3,4,1,36,4,1,0,3418.0,0,2.594,1887,20,2.333,0.000,True,True,False,False,0
3,40,4,2,1,1,34,3,4,1,3313.0,2517,1.405,1171,20,2.333,0.760,False,True,False,False,0
4,40,3,1,3,1,21,5,1,0,4716.0,0,2.175,816,28,2.500,0.000,True,True,False,False,0

In [57]:
# method2 : Visualization for independant Vs Dependant variable
# save results to html
save_viz_dir = 'eda_viz'
dftc = AV.AutoViz(filename='', 
                  sep =',' , 
                  depVar ='Attrition_Flag', 
                  dfte = df, 
                  header = 0, 
                  verbose = 2,  # print extra information on the notebook and also display charts
                  lowess = False, 
                  chart_format ='html', 
                  max_rows_analyzed = 15000, 
                  max_cols_analyzed = 30,
                  save_plot_dir = save_viz_dir
)

Shape of your Data Set loaded: (10127, 21)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
  Printing upto 30 columns max in each category:
    Numeric Columns : ['Credit_Limit', 'Total_Amt_Chng_Q4_Q1', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio']
    Integer-Categorical Columns: ['Customer_Age', 'Dependent_count', 'Education_Level', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Total_Revolving_Bal', 'Total_Trans_Amt', 'Total_Trans_Ct']
    String-Categorical Columns: []
    Factor-Categorical Columns: []
    String-Boolean Columns: ['Gender_Male', 'Marital_Status_Uneducated', 'Marital_Status_Single', 'Marital_Status_Divorced']
    Numeric-Boolean Columns: []
    Discrete String Columns: []
    NLP text Columns: []
    Date Time Columns: []
    ID Columns: []
    Columns that will not be considered in modeling: []
    20 Predictors classified...
        No variables removed since no ID or low-information variables found in data set

################ Binary_Classification problem #####################
   Columns to delete:
'   []'
   Boolean variables %s
("   ['Gender_Male', 'Marital_Status_Uneducated', 'Marital_Status_Single', "
 "'Marital_Status_Divorced']")
   Categorical variables %s
("   ['Customer_Age', 'Dependent_count', 'Education_Level', 'Income_Category', "
 "'Card_Category', 'Months_on_book', 'Total_Relationship_Count', "
 "'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Total_Revolving_Bal', "
 "'Total_Trans_Amt', 'Total_Trans_Ct', 'Gender_Male', "
 "'Marital_Status_Uneducated', 'Marital_Status_Single', "
 "'Marital_Status_Divorced']")
   Continuous variables %s
("   ['Credit_Limit', 'Total_Amt_Chng_Q4_Q1', 'Total_Ct_Chng_Q4_Q1', "
 "'Avg_Utilization_Ratio']")
   Discrete string variables %s
'   []'
   Date and time variables %s
'   []'
   ID variables %s
'   []'
   Target variable %s
'   Attrition_Flag'
Saving scatterplots in HTML format

WARNING:bokeh.core.validation.check:W-1005 (FIXED_SIZING_MODE): 'fixed' sizing mode requires width and height to be set: Row(id='1005', ...)

Saving pair_scatters in HTML format

WARNING:bokeh.core.validation.check:W-1005 (FIXED_SIZING_MODE): 'fixed' sizing mode requires width and height to be set: Row(id='1558', ...)

Saving distplots_cats in HTML format
Saving distplots_nums in HTML format
Saving kde_plots in HTML format
Saving violinplots in HTML format
Saving heatmaps in HTML format
Saving cat_var_plots in HTML format

WARNING:bokeh.core.validation.check:W-1005 (FIXED_SIZING_MODE): 'fixed' sizing mode requires width and height to be set: Row(id='8902', ...)

Time to run AutoViz (in seconds) = 8